<!-- BANNER -->
 <section id="banner">
                                                <div class="inner">
                                                        <h2>{{ site.title }}</h2>
                                                        <p>{{ site.description | markdownify }}</p>
                                                        <!-- <ul class="actions">
                                                                <li><a href="posts" class="button special">Read</a></li>
                                                        </ul>-->
                                                </div>
                                                <a href="#next" class="more scrolly">Read</a>
                                        </section>
